#logo {
  height: 300px;
  /* margin-top: 10px */
}

#logo:hover {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.btn-header {
  margin-top: 75%;
}
/* button {
  margin: 0 100px 0 100px
} */
/*

#main {
  padding-left: 0;
}
*/
.sidebar {
  position: sticky;
  bottom: 0;
  margin: 300px 0;
}

.main-footer {
  display: flex;
  justify-content: space-around;

}



.house{
  height:400px;
  padding: 20px
}

.house:hover {
  height: 410px;
  margin-bottom: -10px
}

.school {
  display: flex;
  justify-content: space-between
}
/*
.addschool {
  margin: auto;
  width: 50%;
}

#addwizard {
  margin-top: 50px

}

.houseSelect {
  width: 100%
} */
