@font-face {
  font-family: 'LUMOS';
  src: url('/LumosLatino.ttf');
}

#logo {
  height: 200px;
  margin-top: 10px
}

#logo:hover {
    filter: grayscale(75%);
}

.btn-header {
  margin-top: 50%;
  font-family: 'LUMOS','Lucida Sans'
}

.btn-footer {
  font-family: 'LUMOS','Lucida Sans'
}

h3 {
  font-family: 'LUMOS';
  text-align: center;
  margin-top: 50px
}

.sidebar {
  position: absolute;
  bottom: 0;
  /* margin: 100px 0 0 0; */
}

.main-footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

table {
  width: 100%;
}

.house{
  height:200px;
  padding: 20px
}

.house:hover {
  transform: scale(1.1);
  margin-bottom: -10px
}

.school-header {
  display: flex;
  justify-content: space-around;
}

.school-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.one-student {
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-campus {
  display: flex;
  align-items: center;
  justify-content: center;
}

td {
  padding: 0 10px
}

th {
  padding: 0 10px
}

#edit-student {
  margin-top: 75px
}

.addschool {
  display: flex;
  justify-content: center
}

.addschool button {
  height: 100%;
  margin-top: 9px
}

.addschool input {
  margin: 10px
}
